



.App {
  /* text-align: center; */
  max-width:1500px;
  background-color: black;
  min-height: 100vh;
}

.trackContainer{
  display:inline-flex;
  margin:20px;
}
.container{
  min-width:600px;
  margin:10px;
  border:grey solid 1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
