

/* */



body {
  margin: 0;
  font-family: 'DotGothic16', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color:chartreuse;
  /* make a centre column */
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url(./patrick-fore-HVFYFns30-I-unsplash.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1  {
  font-family: 'Tilt Prism', cursive; 
}